body {
    background-color: aqua;

    /*estilizando o cabeçario*/
}
header{
    background-color: rgb(0, 255, 179); /*cor de fundo
    color: brown; /*co da letra*/
    padding: 16px;  /*preenchimento do cabeçalho*/
    text-align: center; /*alimento do centro*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;  /*tipo de letra*/
}
article{
    background-color: rgb(255, 255, 255);
    font-size:12px;
   
}
.paragrafo1{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 30px;
}

.paragrafo2{
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-indent: 30px;
}

.paragrafo3{
    color: rgb(247, 66, 15); 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-indent: 30px;
}
